PORT=5000
MONGO_URI=mongodb://localhost:27017/inventory_db
JWT_SECRET=votre_secret_super_secure
JWT_EXPIRES_IN=7d

# Configuration Resend (Email)
RESEND_API_KEY=re_5cxPLcca_G7fWCgyyhntHh4t4wPbQYzvK
RESEND_FROM=onboarding@resend.dev
